/* Общие стили */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p {
    color: #5A6482;

}
a{
    text-decoration: none;
    color: inherit;
}
body {
    font-family: 'Work Sans', sans-serif;
    font-size: 19px;
}
.container{
    width: 100%;
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
}
.logo img{
  width: 100%;
  height: 100%;
}
.btn{
    width: 161px;
    height: 44px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    background: none;
    border: solid 1px rgba(29, 37, 60, 0.2);
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
    outline: none;
}
.btn:hover{
    background-color: rgb(240, 240, 240);
}
.grid__col-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid__col-compnay{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}
.filled-btn{
    width: 220px;
    height: 61px;
    color: white;
    background-color: #F46752;
    font-size: 16px;
}
.text-center{
    text-align: center;
}
.filled-btn:hover{
    background-color: #f17d6b;
}
.filled-btn svg{
    transition: .5s;
}
.filled-btn:hover svg{
    transform: translateX(15px);
}
/* Общие стили */

/* Стили хедера */
.header {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  height: 105px;
  display: flex;
  align-items: center;
  &__container {
    max-width: 1350px;
    display: flex;
    justify-content: space-between;
  }
  &__left-side {
    display: flex;
  }
  &__left-side .logo {
    margin-right: 35px;
  }
}
/* Стили хедера */

/*Стили navbar*/
.navbar {
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  &__link {
    position: relative;
    transition: .3s;
    font-size: 16px;
    &:not(:last-child){
      margin-right: 35px;
    }
    &:hover{
      color: #007188;
      &::before{
        transform: scale(1);
      }
    }
    &::before{
      content: '';
      position: absolute;
      bottom: -10px;
      width: 100%;
      height: 1px;
      background-color: #007188;
      transition: .3s;
      transform: scale(0);
    }
  }
}
/*Стили navbar*/

/* Стили хиро */
.hero{
    height: calc(100vh - 105px);
    background: url('../images/hero-bg.png') no-repeat center right/contain;
    display: flex;
    align-items: center;
  &-content{
    max-width: 463px;
    p{
      font-weight: 500;
      font-size: 22px;
      line-height: 33px;
      color: #5A6482;
      padding-right: 42px;
      margin: 26px 0 40px;
    }
  }
  &-content__suptitle{
    color: #e9644f;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }
  &-content__title{
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    text-transform: capitalize;
    color: #1D253C;
  }
}
/* Стили хиро */

/* Общие стили информационных блоков */
.content{
    display: flex;
    align-items: center;
    justify-content: center;
  &__img{
    width: 100%;
    background-color: #fff;
    img {
      width: 100%;
    }
  }
  &__img-desc{
    width: 50%;
  }
  &__info{
    width: 50%;
  }
  &__info-suptitle{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #F46752;
  }
  &__info-title{
    font-weight: 600;
    font-size: 44px;
    line-height: 52px;
    color: #1D253C;
  }
  &__info-subtitle{
    font-size: 19px;
    line-height: 30px;
    color: #5A6482;
  }
  &__info-link{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #126F86;
  }
  &__dots{
    position: absolute;
  }
}
/* Общие стили информационных блоков */

/* Стили секции "secure" */
.secure{
    background-color: #F9F5F2;
    padding: 85px 0;
  &__img{
    padding: 32px 43px;
  }
  &__img-desc{
    padding-right: 50px;
  }
  &__img-subinfo{
    font-size: 16px;
    line-height: 19px;
    color: #5A6482;
    padding-top: 20px;
    &::before{
      content: '*';
      color: #F46752;
    }
  }
  &__info{
    padding-left: 100px;
  }
  &__info-title{
    padding-top: 26px;
    padding-bottom: 19px;
  }
  &__info-subtitle{
    padding-bottom: 32px;
  }
}
/* Стили секции "secure" */

/* Стили секции "technology" */
.technology{
    position: relative;
    padding: 148px 0 164px;
  &__img{
    z-index: 1;
  }
  &__img-desc{
    position: relative;
    padding-left: 10px;
  }
  &__info{
    padding-right: 50px;
  }
  &__info-title{
    padding-top: 27px;
    padding-bottom: 35px;
  }
  &__info-subtitle{
    padding-bottom: 15px;
  }
  &__umbrella{
    position: absolute;
    bottom: -190px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
  }
  &__img-badge{
    position: absolute;
    padding: 20px 0 20px 25px;
    background-color: #FFFFFF;
    box-shadow: 3px 4px 34px rgba(66, 71, 77, 0.11);
    border-radius: 5px;
    left: -40px;
    bottom: -15px;
  }
  &__dots{
    top: -29px;
    left: -35px;
    z-index: -1;
  }
}
/* Стили секции "technology" */

/* Стили секции "safe-hands" */
.safe-hands{
    padding: 91px 0 85px;
    position: relative;
    background-color: #F8F8F8;
  &__info{
    width: 100%;
    text-align: center;
  }
  &__info-subtitle{
    padding-bottom: 41px;
  }
  &__info-title{
    padding: 30px 0 37px;
  }
}
/* Стили секции "safe-hands" */

/*Стили для quality assurance*/
.quality-assurance{
  &__row{
    grid-column-gap: 70px;
  }
  &__card{
    width: 100%;
    padding: 70px 0;
    text-align: center;
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff
  }
  &__card-img{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__card-title{
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
    color: #1D253C;
    padding: 15px 0 5px;
  }
  &__card-info{
    font-size: 12px;
    line-height: 26px;
    color: #5A6482;
    padding: 0 45px;
    a{
      color: #1D253C;
    }
  }
  &__info-care{
    font-size: 16px;
  }
  &__dog{
    position: absolute;
    right: 0;
    bottom: -35px;
    z-index: 1;
  }
}
/*Стили для quality assurance*/

/* Стили секции "insurance" */
.insurance{
    padding: 91px 0 85px;
    position: relative;
    background-color: #363839;
  &__info{
    width: 100%;
    text-align: center;
  }
  &__info-subtitle{
    font-size: 19px;
    line-height: 30px;
    color: #ACB4BF;
    padding: 15px 0 63px;
  }
  &__info-title{
    padding: 30px 0 37px;
    color: white;
  }
  &__pay{
    position: relative;
  }
  &__pay-step{
    position: relative;
    padding-bottom: 32px;
  }
  &__pay-step-title {
    color: white;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    padding-top: 80px;
  }
  &__pay-step-desc{
    font-size: 16px;
    line-height: 26px;
    color: #ACB4BF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 56px;
  }
  &__pay-step-dot{
    position: relative;
  }
  &__first-step-dot{
    position: absolute;
    top: 5px;
  }
  &__second-step-dot{
    position: absolute;
    top: 8px;
    left: 0;
    right: 10px;
    margin: auto;
  }
  &__third-step-dot{
    position: absolute;
    top: -7px;

  }
  &__first-num{
    position: absolute;
    top: -10px;
    left: 0px;
    right: 0;
    margin: auto;
  }
  &__second-num{
    position: absolute;
    top: -5px;
    left: 10px;
    right: 0;
    margin: auto;
  }
  &__third-num{
    position: absolute;
    top: -15px;
    left: 50px;
    right: 0;
    margin: auto;
  }
  &__dash-img{
    position: absolute;
    top: 0px;
    left: 16px;
    right: 0;
    margin: auto;
  }
  &__confetti{
    position: absolute;
    right: -190px;
    top: -295px;
    bottom: 0;
    margin: auto;
  }
  &__drop_1{
    position: absolute;
    top: 40px;
    left: 60px;
  }
  &__drop_2{
    position: absolute;
    left: -350px;
    right: 0;
    top: 50px;
    margin: auto;
  }
}
/* Стили секции "insurance" */

/* Стили секции "everything" */
.everything{
    position: relative;
    padding: 148px 0 164px;
    background-color: #F9F5F2;
    z-index: -2;
  &__img-desc{
    position: relative;
    padding-right: 10px;
  }
  &__dots{
    top: -29px;
    left: -35px;
    z-index: -1;
  }
  &__img-badge{
    position: absolute;
    padding: 20px 20px 20px 25px;
    background-color: #FFFFFF;
    box-shadow: 3px 4px 34px rgba(66, 71, 77, 0.11);
    border-radius: 5px;
    right: 44px;
    bottom: -15px;
  }
  &__info{
    padding-left: 50px;
  }
  &__info-title{
    padding-top: 30px;
    padding-bottom: 24px;
  }
  &__info-subtitle{
    padding: 24px 0;
  }
}
/* Стили секции "everything" */

/* Стили секции "possibilities" */
.possibilities{
    padding: 160px 0 132px;
  &__card{
    padding: 40px 7px 33px 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
  }
  &__card-title{
    font-weight: 600;
    font-size: 34px;
    line-height: 42px;
    height: 50px;
  }
  &__card-info{
    padding: 65px 0 84px;
    font-size: 15px;
    line-height: 19px;
  }
  &__card-subtitle{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }
  &__card-primary{
    color: #7CAFDD;
    background-color: rgba(169, 216, 255, 0.3);
  }
  &__card-peach{
    background-color: rgba(255, 174, 104, 0.3);
    color: #E79751;
  }
  &__card-pink{
    background-color: rgba(250, 82, 64, 0.3);
    color: #FA5240;
  }
  &__card-success{
    background-color: rgba(18, 111, 133, 0.3);
    color: #126F85;
  }
}
/* Стили секции "possibilities" */

/* Стили секции "get-started" */
.get-started{
    position: relative;
    text-align: center;
    background-color: #E5F3FE;
    padding: 107px 0 85px;
  &__info{
    padding: 8px 0 39px;
  }
  &__content{
    .umbrella-man{
      position: absolute;
      bottom: -5px;
      left: 110px;
    }
    .boy{
      position: absolute;
      bottom: -5px;
      right: 250px;
    }
  }
}
/* Стили секции "get-started" */

/* Стили "footer" */
.footer{
    padding: 73px 0 40px;
  &__content{
    display: flex;
  }
  &__company{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding-right: 240px;
  }
  &_social-links{
    color:  #5A6482;
    padding-top: 28px;
    a{
      padding-right: 34px;
    }
  }
  &__links{
    width: 50%;
  }
  &__links-grid{
    grid-column-gap: 30px;
  }
  &__links-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #1D253C;
  }
  &__link-items{
    display: flex;
    flex-wrap: wrap;
  }
  &__link-item{
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #5A6482;
    margin-top: 22px;
  }
  &__company-info{
    font-size: 14px;
    line-height: 23px;
    color: #5A6482;
    padding: 33px 0 22px;
  }
  &__company-btn{
    height: 60px;
    border: none;
    padding: 19px;
    border-radius: 0px 5px 5px 0px;
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    background-color: #126F85;
    display: flex;
    align-items: center;
    outline: none;
    cursor: pointer;
    svg{
      padding-left: 5px;
    }
  }
  &__company-input{
    width: 229px;
    height: 60px;
    font-size: 22px;
    padding-left: 10px;
    margin-right: -1px;
    &:focus{
      outline: none;
    }
  }
}
/* Стили "footer" */

/* Стили copyright */
.copyright{
    background-color: #F8F8F8;
    padding: 30px 0;
  &__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      font-size: 16px;
      line-height: 19px;
      color: #5A6482;
    }
  }
}

/* Стили copyright */
